/*
Flaticon icon font: Flaticon
Creation date: 06/08/2019 10:03
*/

@font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.eot");
    src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff2") format("woff2"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}

.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-writing:before {
    content: "\f100";
}

.flaticon-music-player-play:before {
    content: "\f101";
}

.flaticon-avatar:before {
    content: "\f102";
}

.flaticon-user:before {
    content: "\f103";
}

.flaticon-rating:before {
    content: "\f104";
}

.flaticon-skype-logo:before {
    content: "\f105";
}

.flaticon-customer-reviews:before {
    content: "\f106";
}

.flaticon-apple:before {
    content: "\f107";
}

.flaticon-android-logo:before {
    content: "\f108";
}

.flaticon-left-quotes-sign:before {
    content: "\f109";
}

.flaticon-calendar:before {
    content: "\f10a";
}

.flaticon-check:before {
    content: "\f10b";
}

.flaticon-monitor:before {
    content: "\f10c";
}

.flaticon-upload:before {
    content: "\f10d";
}

.flaticon-shield:before {
    content: "\f10e";
}

.flaticon-time-left:before {
    content: "\f10f";
}

.flaticon-cube:before {
    content: "\f110";
}

.flaticon-crop:before {
    content: "\f111";
}

.flaticon-checked:before {
    content: "\f112";
}

.flaticon-right-arrow:before {
    content: "\f113";
}

.flaticon-left-arrow:before {
    content: "\f114";
}

.flaticon-favorite-heart-button:before {
    content: "\f115";
}

.flaticon-speech-bubbles-comment-option:before {
    content: "\f116";
}

.flaticon-quality:before {
    content: "\f117";
}

.flaticon-graph:before {
    content: "\f118";
}

.flaticon-chrome:before {
    content: "\f119";
}

.flaticon-linux-logo:before {
    content: "\f11a";
}

.flaticon-windows-logo-silhouette:before {
    content: "\f11b";
}

.flaticon-happy-mac-logo:before {
    content: "\f11c";
}

.flaticon-question:before {
    content: "\f11d";
}

.flaticon-clipboard:before {
    content: "\f11e";
}

.flaticon-bug-report-button:before {
    content: "\f11f";
}

.flaticon-text-quotes:before {
    content: "\f120";
}

.flaticon-group:before {
    content: "\f121";
}

.flaticon-verified:before {
    content: "\f122";
}

.flaticon-cancel:before {
    content: "\f123";
}

.flaticon-settings:before {
    content: "\f124";
}

.flaticon-diamond:before {
    content: "\f125";
}

.flaticon-graph-line-screen:before {
    content: "\f126";
}

.flaticon-question-mark:before {
    content: "\f127";
}

.flaticon-chart-1:before {
    content: "\f128";
}

.flaticon-chart:before {
    content: "\f129";
}

.flaticon-clock:before {
    content: "\f12a";
}

.flaticon-passage-of-time:before {
    content: "\f12b";
}

.flaticon-computer:before {
    content: "\f12c";
}

.flaticon-transit:before {
    content: "\f12d";
}

.flaticon-info:before {
    content: "\f12e";
}

.flaticon-slim-right:before {
    content: "\f12f";
}

.flaticon-upload-1:before {
    content: "\f130";
}

$font-Flaticon-writing: "\f100";
$font-Flaticon-music-player-play: "\f101";
$font-Flaticon-avatar: "\f102";
$font-Flaticon-user: "\f103";
$font-Flaticon-rating: "\f104";
$font-Flaticon-skype-logo: "\f105";
$font-Flaticon-customer-reviews: "\f106";
$font-Flaticon-apple: "\f107";
$font-Flaticon-android-logo: "\f108";
$font-Flaticon-left-quotes-sign: "\f109";
$font-Flaticon-calendar: "\f10a";
$font-Flaticon-check: "\f10b";
$font-Flaticon-monitor: "\f10c";
$font-Flaticon-upload: "\f10d";
$font-Flaticon-shield: "\f10e";
$font-Flaticon-time-left: "\f10f";
$font-Flaticon-cube: "\f110";
$font-Flaticon-crop: "\f111";
$font-Flaticon-checked: "\f112";
$font-Flaticon-right-arrow: "\f113";
$font-Flaticon-left-arrow: "\f114";
$font-Flaticon-favorite-heart-button: "\f115";
$font-Flaticon-speech-bubbles-comment-option: "\f116";
$font-Flaticon-quality: "\f117";
$font-Flaticon-graph: "\f118";
$font-Flaticon-chrome: "\f119";
$font-Flaticon-linux-logo: "\f11a";
$font-Flaticon-windows-logo-silhouette: "\f11b";
$font-Flaticon-happy-mac-logo: "\f11c";
$font-Flaticon-question: "\f11d";
$font-Flaticon-clipboard: "\f11e";
$font-Flaticon-bug-report-button: "\f11f";
$font-Flaticon-text-quotes: "\f120";
$font-Flaticon-group: "\f121";
$font-Flaticon-verified: "\f122";
$font-Flaticon-cancel: "\f123";
$font-Flaticon-settings: "\f124";
$font-Flaticon-diamond: "\f125";
$font-Flaticon-graph-line-screen: "\f126";
$font-Flaticon-question-mark: "\f127";
$font-Flaticon-chart-1: "\f128";
$font-Flaticon-chart: "\f129";
$font-Flaticon-clock: "\f12a";
$font-Flaticon-passage-of-time: "\f12b";
$font-Flaticon-computer: "\f12c";
$font-Flaticon-transit: "\f12d";
$font-Flaticon-info: "\f12e";
$font-Flaticon-slim-right: "\f12f";
$font-Flaticon-upload-1: "\f130";
